$bg-dark: #222831;
$teal: #00ADB5;
$dark-teal: #189399;
$white: #EEEEEE;
$dark-white: #cfcfcf;
$yellow: #FFEF63;
$dark-yellow: #dfd25e;
$grey: #393E46;

.docs-container {
    width: 100vw;
    margin-top: 100px;
    display: flex;
    flex-direction: column;

    .mob-btns-docs {
        display: none;
    }

    .doccss {
        display: flex;
        flex-direction: row;

    .all-docs {
        width: 25%;
        height: 90vh;
        max-height: 90vh;

        .docs-search {
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;

            #doc-sear {
                font-size: 30px;
                font-family: 'Josefin Sans', sans-serif;
                padding: 10px 10px 10px 10px;
                width: 80%;
            }
        }

        .docs-getstarted {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10%;
            font-size: 30px;
            color: $white;

            p {
                transition: color 0.1s linear;

                &:hover {
                    color: $dark-teal;
                    cursor: pointer;
                }
            }
        }

        .docs-classlist {
            overflow-y: scroll;
            overflow-x: hidden;
            height: 80%;

            #doc-select {
                font-size: 25px;
                color: $white;
                text-align: center;
                transition: color 0.1s linear;
                margin-top: 40px;

                &:hover {
                    color: $dark-teal;
                    cursor: pointer;
                }
            }
        }

        .docs-search-results {
            overflow-y: scroll;
            overflow-x: hidden;
            height: 80%;
        }

        .docs-list-hidden {
            display: none;
        }
    }

    .the-doc {
        width: 75%;
        max-height: 90vh;
        overflow: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;

        button {
            display: none;
        }

        h1 {
            font-size: 60px;
            margin-top: 100px;
        }

        .class-description {
            width: 75%;

            p {
                font-size: 26px;
                line-height: 1.5;
            }
        }

        .class-image {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-top: 50px;

            img {
                width: 40%;
                border-radius: 5px;
            }
        }

        .smallinfo {
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 70%;
        }
    }
}
}

@media (max-width: 1400px) {

    #doc-phot {
        width: 45%;
    }
}

@media (max-width: 1200px) {

    .docs-container {

        .all-docs {
            width: 30%;
        }
    
        .the-doc {
            width: 70%;
        }
    }

}


@media (max-height: 700px) {

    .docs-container {

        .all-docs {

            .docs-getstarted {
                font-size: 25px;
            }
        }    
    }
}