$bg-dark: #222831;
$teal: #00ADB5;
$dark-teal: #189399;
$white: #EEEEEE;
$dark-white: #cfcfcf;
$yellow: #FFEF63;
$dark-yellow: #dfd25e;
$grey: #393E46;

@media (orientation: portrait) {
    .docs-container {

        .mob-btns-docs {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: 5%;
            margin-right: 5%;
            
            h3 {
                color: $teal;
                font-size: 30px;
                margin: 0;
                margin-top: 20px;
            }
        }

        .menu-mobile {
            color: $white;
            position: absolute;
            
        }

        .doccss {
            margin-top: 0;
            // position: absolute;

    
        .all-docs {
            width: 100vw;
            // transform: translateX(-100%);
        }

        .all-docs-hidden {
            opacity: 0;
            display: none;
        }
    
        .the-doc {
            width: 100vw;
            opacity: 1;
            transition: opacity 0.1s linear;
            // display: none;
            // transform: translateX(100%);

            button {
                margin-top: 20px;
                display: block;
                border: 0;
                border-bottom: 1px $yellow solid;
                padding-bottom: 5px;
                background-color: transparent;
                color: $yellow;
                font-family: 'Josefin Sans', sans-serif;
                font-size: 30px;
            }

            h1 {
                margin-top: 30px;
                text-align: center;
                width: 90%;
            }

            .class-description {
                width: 90%;
            }
        }
        
        .heyhey {
            opacity: 0;
        }
    }
    }

}
