$bg-dark: #222831;
$teal: #00ADB5;
$dark-teal: #189399;
$white: #EEEEEE;
$dark-white: #cfcfcf;
$yellow: #FFEF63;
$dark-yellow: #dfd25e;
$grey: #393E46;

@media (orientation: portrait) {
    .docs-container {

        .mob-btns-docs {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: 5%;
            margin-right: 5%;
            
            h3 {
                color: $teal;
                font-size: 30px;
                margin: 0;
                margin-top: 20px;
            }
        }

        .doccss {
            margin-top: 0;

    
        .all-docs {
            width: 100vw;
        }

        #docs-inactive {
            display: none;
        }

        .all-docs-active {
            transform: translateX(0%);
        }
    
        .the-doc {
            width: 100vw;

            .the-doc-btn {
                width: 100%;

                button {
                    margin-top: 10px;
                    margin-bottom: 20px;
                    margin-left: 5%;
                    display: block;
                    border: 0;
                    border-bottom: 1px $teal solid;
                    padding-bottom: 5px;
                    background-color: transparent;
                    color: $teal;
                    font-family: 'Josefin Sans', sans-serif;
                    font-size: 30px;
                }
            }

            h1 {
                margin-top: 30px;
                text-align: center;
                width: 90%;
            }

            .class-description {
                width: 90%;
            }

            .class-image {
                display: flex;
                flex-direction: column;
                width: 100%;
                
                img {
                    min-width: 90%;
                    margin-bottom: 10px;
                }
            }
        }
        
    }
    }
}
